body {
	background-color:#F5F5F5;
	}

	#meni {
	padding:5px;
	text-align:center;
	background-color:#E5E5E5;
	border:solid 1px #CBD0D8;
	color:black;
	font-family:Georgia;
	width:160px;
	font-size:20px;
	margin-left:1200px;
	cursor:pointer;
	}

	.opcije {
	padding:5px;
	text-align:center;
	background-color:#F4F3EA;
	border:solid 1px #CBD0D8;
	color:black;
	padding:20px;
	display:none;
	font-family:Georgia;
	font-size:20px;
	width:130px;
	text-align:center;
	margin-left:1200px;
	position: absolute;
	overflow:hidden;
	}

	a {
	text-decoration:none;
	color:black;
	}

	a:hover {
		opacity:0.7;
	}

#lista {
	font-size:30px;
	font-family:Georgia;
	max-width:500px;
	margin-left:550px;
	margin-top:150px;
	}

#srednja {
	margin-left:280px;
	margin-top:120px;
	position:absolute;
}

#visa{
	margin-left:300px;
	margin-top:400px;
	position:absolute;
}
